<div class="spinner-border" role="status" *ngIf="posts.length == 0">
    <span class="sr-only">Loading...</span>
</div>
<div class="container-fluid mt-4" *ngIf="posts.length > 0">
    <div id="profile">
        <div class="avatar-user float-left mr-3">
            <img src="{{ urlApi + 'user/avatar/' +  user.image }}" alt="Avatar" class="img-fluid">
        </div>
        <div class="float-left mr-3">
            <h1>Perfil de {{user.name}} {{user.surname}}</h1>
            <div [innerHTML]="user.description"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr>
    <post-list [posts]="posts" [identity]="identity" [urlApi]="urlApi" (delete)="deletePost($event)"></post-list>
</div>