<div class="col-12 mt-3">
    <h1>{{page_title}}</h1>
    <p *ngIf="!is_edit">¡Redacta tu blog!</p>
    <p *ngIf="is_edit && post">Edita tu blog</p>
    <hr>
    <div class="alert alert-success" *ngIf="status=='success'">
        Datos guardados correctamente.
    </div>
    <div class="alert alert-danger" *ngIf="status=='error'">
        El guardado no se pudo completar, por favor intentalo más tarde.
    </div>
    <form class="col-md-6" #postForm="ngForm" (ngSubmit)="store(postForm)">
        <div class="form-group">
            <label for="title">Título</label>
            <input type="text" class="form-control" id="title" name="title" #title="ngModel" [(ngModel)]="post.title"
                required>
            <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">Título no es válido</small>
        </div>
        <div class="form-group">
            <label for="content">Contenido</label>
            <textarea [froalaEditor]="options" class="form-control" #content="ngModel" name="content" id="content"
                [(ngModel)]="post.content" required></textarea>
            <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">Contenido no es
                válido</small>
        </div>
        <div class="form-group">
            <label for="category_id">Categoría</label>
            <select class="custom-select" id="category_id" name="category_id" #category="ngModel"
                [(ngModel)]="post.category_id">
                <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="imagen">Imagen</label>
            <div *ngIf="is_edit && post.image">
                <img src="{{ urlApi + 'post/image/' +  post.image}}" alt="Avatar"
                    class="img-thumbnail mb-4 avatar-user-edit">
            </div>
            <angular-file-uploader [config]="afuConfig" (ApiResponse)="imageUpload($event)">
            </angular-file-uploader>
        </div>
        <button type="submit" class="btn btn-primary mt-5" [disabled]="postForm.invalid">Guardar</button>
    </form>
</div>