<div class="spinner-border" role="status" *ngIf="!category">
    <span class="sr-only">Cargando...</span>
</div>
<div class="spinner-border" role="status" *ngIf="!posts">
    <span class="sr-only">Cargando...</span>
</div>
<div class="alert alert-warning mt-3" *ngIf="posts.length == 0">
    No hay entradas que mostrar en esta categoría
</div>
<div class="container-fluid" *ngIf="category">
    <h1>{{category.name}}</h1>
    <hr>
    <post-list *ngIf="posts.length > 0" [posts]="posts" [identity]="identity" [urlApi]="urlApi"
        (delete)="deletePost($event)"></post-list>
</div>